@import url("./colors.css");

.circular-progress {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: filter 0.4s ease-in-out;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  stroke: var(--ControlNumberColor);
  transition: stroke-dasharray 0.4s ease-in-out;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}
